<section>
    <h1>Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div>
            <label for="email">Seu email</label>
            <input name="email" type="email" formControlName="email" placeholder="Email">
        </div>
        <div>
            <label for="password">Sua senha</label>
            <input type="password" formControlName="password" placeholder="Password">
        </div>
        <button type="submit">Login</button>
    </form>
    <div *ngIf="errorMessage">{{errorMessage}}</div>
</section>